.wrap {width: 100%; height: auto; position: relative;}
.intro {width: 100%; height: 100vh; background:#f0f0f0; position: relative;}
.intro>center{border-right: 1px solid;}
.intro .text {position: absolute; top: 50%; transform: translateY(-50%); z-index: 1;}
.intro .text h2 {font-size: 8vw; letter-spacing: -5px; line-height: 120%; margin-bottom: 20px; position: relative; animation: fadein 1.5s 1 forwards}
.intro .text b {font-size: 2.5vw; position: relative; animation: fadein 1.5s 1 forwards; animation-delay: 0.5s; opacity: 0;}
@keyframes fadein {
  0%{top: 400px; opacity: 0;}
  100%{top: 0; opacity: 1;}
}

.fade-in {animation-name: Main-fadeIn; animation-iteration-count:1; animation-duration: 1.5s; animation-timing-function: ease-out; animation-fill-mode: forwards;}

.sub-fade-in {animation-name: Main-fadeIn; animation-iteration-count:1; animation-delay: 0.5s; animation-duration: 1.5s; animation-timing-function: ease-out; animation-fill-mode: forwards;}

@keyframes Main-fadeIn {
  0% {
    margin-top: 200px;
    opacity : 0;
  }
  100%{
    margin: 0;
    opacity : 1;
  }
}


.intro .intro-img {width: 300px; _height: 600px; position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%);}
.intro .intro-img img {width: 100%;}
.intro .infinity-img {position: absolute; bottom: 5%; right: 5%; width: 100px; height: 100px;}
.intro .infinity-img .line {position: absolute; width: 1px; height: 500%; background: #222; bottom: 60%; right: 50%; transform: translateX(-50%);}
.intro .infinity-img .line.active {animation: line-active 1s 1 forwards;}
.intro .infinity-img i {font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.intro .infinity-img img{width: 100%; animation: rotate_image 10s linear infinite; transform-origin: 50% 50%;}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes line-active {
  0%{height: 500%;}
  100%{height: 0;}
}

header{width: 100%; padding: 30px 0; position: absolute; top: 0; left: 0;}
header .grid {display: flex; justify-content: space-between; align-items: center;}
header .logo{width: 80px;}
header .logo img{width: 100%;}

header .nav {display: flex; width: 50%; justify-content: space-between; align-items: center;}
.fixed-nav {width: 100%; padding: 15px 0; position: fixed; background-color:rgba(255,255,255,0.8); box-shadow: 0 3px 7px rgba(0, 0, 0, 10%); z-index:99;}
header .nav button {font-size: 16px;}

header .menu-icon {font-size: 20px;}

/* About me Section Style Code */
section {width: 100%; height: auto;}
.aboutme {width: 100%;}
.aboutme>.center{display: flex;}
.aboutme-left {width: 50%; border-right: 1px solid #ccc; padding: 20px 40px; opacity: 0;}
.title-text h3 {font-size: 30px;}
.title-text p {font-size: 16px; padding: 10px 0;}
.aboutme-left .aboutme-img {width: 60%; transform:translateX(60%); margin-top: 10%;}
.aboutme-left .aboutme-img img{width: 100%;}

.aboutme-right {width: 50%; padding: 20px 40px; opacity: 0;}
.aboutme-right .skills {display: flex; justify-content: space-between; margin: 50px 0;}
.aboutme-right .skills .skills-img {width: 10%; margin-left: 10px;}
.aboutme-right .skills .skills-img img {width: 100%;}
.aboutme-right .skills .skills-text {width: 80%;}
.aboutme-right .skills .skills-text p {font-size: 18px; font-weight: 600; margin-bottom: 10px;}
.aboutme-right .skills .bar {width: 100%; height: 25px; border-radius: 15px; background: #e44d26; position: relative; overflow: hidden;}
.aboutme-right .skills .bar b {position: absolute; right: 30px; color: #fff; top: 50%; transform: translateY(-50%); font-size: 13px; font-weight: 300;}
.inner-bar {width:0%; height: 25px; border-radius: 15px; position: absolute; background: #fa8452;}

/* Portfolio Section Style Code */
.pf {position: relative;}
.pf .bg {background: url(../img/portfolio_bg.png) no-repeat center center; background-size: cover; width: 100%; height: 90%; position: absolute; z-index: -1;}
.pf-center {height: 100%; display: flex; justify-content: center; align-items: center;}


.pf-box {
  _display: flex;
  _flex-wrap: nowrap;
  width: 80%;
  overflow: auto;
  cursor: pointer;
  white-space: nowrap;
  /* Hiddem scroll bar */
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.pf-box::-webkit-scrollbar {height: 3px; border-radius: 3px;}
.pf-box::-webkit-scrollbar-thumb {background: #C6DFD6;}
.pf-box::-webkit-scrollbar-track {background: #EDECEA;}

/* .pf-box {width: 400%; position: relative; margin: 50px 0; display: flex;} */
.pf-box .each-pf-box {
  display: inline-block;
  background-color: white;
}
.each-pf-box .pf-imgbox {width: 70%; height: 600px; overflow: hidden; box-shadow:28px 4px 33px -15px rgba(191,191,191,0.53); float:left;}
/* .each-pf-box .pf-imgbox .pfimg {background: url(../img/pf_01.jpg) no-repeat center center; background-size: cover; width: 100%; height: 100%;} */
.each-pf-box .pf-imgbox .pfimg {margin:auto; height:100%; overflow:hidden; position: relative;}
.each-pf-box .pf-imgbox .pfimg img{height:100%; transition: all 0.6s;}
.each-pf-box .pf-imgbox .pfimg:hover img {transform: scale(1.1);}
.each-pf-box .pf-imgbox .pfimg .overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3); opacity:0; transition: all 0.6s;}
.each-pf-box .pf-imgbox .pfimg:hover .overlay {opacity: 1;}
.each-pf-box .pf-imgbox .pfimg:hover img {animation: scale 1s 1 forwards; animation-delay: 0.2s;}
/* .each-pf-box .pf-imgbox .pfimg img:hover {} */



.each-pf-box .pf-txtbox {transform: translate(-10%, 120%); float:right;}
.each-pf-box .pf-txtbox b{font-size: 30px;}
.each-pf-box .pf-txtbox p {font-size: 16px; padding: 10px 0;}
.each-pf-box .pf-txtbox span {font-weight: 300; padding-top: 10px; display: block;}
.each-pf-box .pf-txtbox .first {margin-top: 10px;}
.each-pf-box .pf-txtbox button,
.each-pf-box .pf-txtbox a{padding: 15px 20px; margin-top: 20px; display: inline-block; border: 1px solid #222; margin-right: 10px; transition: all; background: #fff;}
.each-pf-box .pf-txtbox button:hover,
.each-pf-box .pf-txtbox a:hover {border: 1px solid #C6DFD6; color: #C6DFD6;}

/* Portfolio Section : Modal Style Code */
#pf-Modal {display: none; position: fixed; z-index: 10; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background: rgba(0,0,0,0.7);}
#pf-Modal .modal-box {width: 1280px; height: 80%; position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); background: #fff;}
#pf-Modal .modal-box .modal-con {width: 100%; height: 100%; overflow-y: scroll;}
#pf-Modal .modal-box .modal-con img {width: 100%;}



.design-box {width: 100%; display: flex; justify-content: space-between; padding-top: 40px;}
.design-eachbox {width: calc(33.33% - 20px); box-shadow: 0px 0px 16px 1px rgba(155,155,155,0.3);}
.design-img {width: 100%; height: 400px; margin: auto; overflow: hidden;}
.design-img img {width: 100%;}
.design-txtbox {padding: 30px 20px; text-align: center;}
.design-txtbox b{font-size: 24px;}
.design-txtbox p{font-size: 16px; padding: 10px 0 20px 0;}
.design-txtbox a {padding: 15px 20px; display: inline-block; border: 1px solid #222; transition: all; background: #fff;}
.design-txtbox a:hover {border: 1px solid #C6DFD6; color: #C6DFD6;}

/* Recieved Section Style Code */
#recieved {padding: 50px; border-bottom: 1px solid #c6dfd6;}
#recieved .msg-table{width: 100%; height: auto; margin-bottom: 20px;}
#recieved .msg-table li{display: flex; text-align: center; padding: 10px 0; border-bottom: 1px solid #f3f3f3; font-size: 14px; color: #333;}
#recieved .msg-table .msg-title{background: #c6dfd6;}
#recieved .msg-table .msg-title span{color: #fff;}

#recieved .msg-table li span:nth-child(1){width: 15%;}
#recieved .msg-table li span:nth-child(2){width: 20%;}
#recieved .msg-table li span:nth-child(3){width: 45%;}
#recieved .msg-table li span:nth-child(4){width: 20%;}

#recieved .msg-table .msg-con span:nth-child(3){text-align: left;}

/* Contact Me Section Style Code */
#contact .title-text {text-align: center;}
#contact .title-text h3 {font-size: 50px;}
#contact .form-area{width: 100; height: auto; padding: 50px 50px 30px 50px; border-radius: 20px;}
#contact .form-area p{margin-bottom: 10px;}
#contact .form-area .name-email{width: 100%; height: auto; display: flex; justify-content: space-between;}
#contact .form-area .name-email input{width: calc(33.33% - 5px); padding: 10px; border: 1px solid #edecea;}
#contact .form-area .name-email input:focus{border: 1px solid #c6dfd6;}
#contact .form-area .subject {width: 100%; height: auto;}
#contact .form-area .subject input {padding: 10px; width: 100%; border: 1px solid #edecea;}
#contact .form-area .subject input:focus{border: 1px solid #c6dfd6;}
#contact .form-area .message {width: 100%; height: auto;}
#contact .form-area .message textarea{width: 100%; height: 200px; padding: 10px; font-family: 'Open-Sans'; border: 1px solid #edecea;}
#contact .form-area .message textarea:focus{border: 1px solid #c6dfd6;}

#contact .form-area .send-btn{width: 100%; height: auto; display: flex; justify-content: center;}
#contact .form-area .send-btn button{border: 0; color: #fff; font-weight: 600; padding: 10px 30px; background: #c6dfd6; cursor: pointer;}
