@media screen and (max-width: 1440px) {
  .intro>.center {max-width: 1140px;}
  header>.center {max-width: 1140px;}
}


@media screen and (max-width: 1280px) {
  .intro>.center {max-width: 1000px;}
  header>.center {max-width: 1000px;}
}

@media screen and (max-width: 1040px) {
  .aboutme>.center {display: block;}
  .aboutme-left {border-right: 0; display: flex; justify-content: space-between; width: 100%;}
  .left-top {width: 50%; padding: 20px 40px 20px 0;}
  .desc {margin-bottom: 0;}
  .line {display: none;}
  .left-down {width: 50%; padding: 20px 0 20px 40px; border-left: 1px solid;}
  .aboutme-left .aboutme-img {display: none;}
  .aboutme-right {width: 100%; display: flex; justify-content: space-between; padding-top: 30px; border-top:1px solid}
  .right-top {width: 50%; padding-right: 40px; border-right: 1px solid;}
  .right-down {width: 50%; padding-left: 40px;}
  .otherskills {display: flex; justify-content: flex-start;}
  .otherskills .eachSkills {width: 30%; padding-right: 10px;}
  .otherskills .skills-img {width: 50%;}
  .otherskills .skills-text{width: 100%;}
  .intro .text h2 {font-size: 10vw;}
  .intro>.center {padding-left: 40px;}
  header>.center {padding: 0 40px;}
  header .logo {width: 80px;}
  header .nav {width: 60%;}
}

@media screen and (max-width: 750px) {
  .intro .text {top: 40%;}
  .intro .intro-img {width: 250px;}
  header .nav {display: block; position: absolute; right: -50%; top: 100%; width: 100%; z-index: 1;}
  header .nav li {text-align: right; padding: 20px 5px;}
  header .nav button {font-size: 26px;}
  header .menu-icon {display: block; z-index: 1;}
  .intro .text b {font-size: 4vw;}
  .intro .infinity-img .line {height: 400%;}

}

@media screen and (max-width: 500px) {
  .intro .text {top: 30%;}
  .intro .text h2 {font-size: 40px;}
  .intro .text b {font-size: 20px;}
  .intro .intro-img {left: 10%; transform: translateX(0);}
  .intro .infinity-img .line {height: 500%;}
  .intro .infinity-img {width:80px; height: 80px;}
  header .logo {width: 60px;}
  header .menu-icon {font-size: 22px;}
}

@media screen and (max-width: 400px) {}